# Text Classification Assessment


The **moviereviews2.tsv** dataset contains the text of 6000 movie reviews. 3000 are positive, 3000 are negative, and the text has been preprocessed as a tab-delimited file. As before, labels are given as `pos` and `neg`.



For more information on this dataset visit http://ai.stanford.edu/~amaas/data/sentiment/

### : Perform imports and load the dataset into a pandas DataFrame

In [2]:
import pandas as pd
import numpy as np

In [7]:
df= pd.read_csv('C:/Users/PC/Desktop/nlp/UPDATED_NLP_COURSE/UPDATED_NLP_COURSE/TextFiles/moviereviews2.tsv', sep = '\t' )

In [8]:
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

### Check for missing values:

In [10]:
# Check for NaN values:
df.isnull().sum()

label      0
review    20
dtype: int64

In [11]:
len(df)

6000

In [15]:
# Check for whitespace strings (it's OK if there aren't any!):
blanks = []

for i,lb,rv in df.itertuples():  
    if type(rv)==str:            
        if rv.isspace():         
            blanks.append(i)     
        
print(len(blanks), 'blanks: ', blanks)

0 blanks:  []

### Remove NaN values:

In [16]:
df.dropna(inplace=True)

len(df)

5980

###  Take a quick look at the `label` column:

In [17]:
df['label']

0       pos
1       pos
2       pos
3       neg
4       pos
       ...
5995    pos
5996    neg
5997    neg
5998    pos
5999    pos
Name: label, Length: 5980, dtype: object

### Split the data into train & test sets:
You may use whatever settings you like. To compare your results to the solution notebook, use `test_size=0.33, random_state=42`

In [26]:
X=df['review']
y=df['label']

In [73]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=45)

### Build a pipeline to vectorize the date, then train and fit a model
use `LinearSVC`.

In [74]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn import metrics


text_clf = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', LinearSVC()),
])

text_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

###  Run predictions and analyze the results

In [75]:
# Form a prediction set
predictions = text_clf.predict(X_test)

In [76]:
# Report the confusion matrix

print(metrics.confusion_matrix(y_test,predictions))

[[1344  118]
 [  99 1429]]

In [77]:
# Print a classification report
print(metrics.classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.93      0.92      0.93      1462
         pos       0.92      0.94      0.93      1528

    accuracy                           0.93      2990
   macro avg       0.93      0.93      0.93      2990
weighted avg       0.93      0.93      0.93      2990

In [78]:
# Print the overall accuracy
print(metrics.accuracy_score(y_test,predictions))

0.9274247491638796

### Good result,)